  </main>

  <aside class="rightbar">
    <div class="rightBox">
      <h4>Trending</h4>
      <div class="tag">#internship</div>
      <div class="tag">#webdev</div>
      <div class="tag">#nodejs</div>
      <div class="tag">#projects</div>
    </div>

    <div class="rightBox">
      <h4>Suggestions</h4>
      <p class="muted">Follow users by opening their profile.</p>
    </div>
  </aside>
</div>

<script src="/js/main.js"></script>
</body>
</html>
